

# Directories
# .vscode/
# .idea/
# .mypy_cache/
# .ipynb_checkpoints/

# venv/
# __pycache__/

# # File formats
# *.pyc

# # Files
# .env
# .coverage
text.txt
build/
Capstone_project_deg_01.egg-info/
