# Directories
# .vscode/
# .idea/
# .mypy_cache/
# .ipynb_checkpoints/

# __pycache__/

# # File formats
# *.pyc

# # Files
# .env
# .coverage
text.txt

venv/
build/
*.egg-info/

build/
Capstone_project_deg_01.egg-info/

